@model IEnumerable<RoleViewModel>

 

<h1>Show Roles</h1>

<p>
    <a asp-action="CreateRole" asp-controller="Accounts">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
           
        </tr>
}
    </tbody>
</table>
